/* css adaptations for the 'archiv des beispiels' application */

#header {
    color: #649600;
}

#header .header-left {
    display: block
    float: left;
}

#header .header-right {
    display: inline;
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: 500;
}

#header a,
#header a:hover,
#header a:visited {
    color: #649600;
    text-decoration: none;
}

/*
#mainnav li li.selected {
    color:#649600;
}
#bgmainnav {
    background-color:#649600;
}
*/
